<div class="card">
    <h1>
        <i class="{{note.icon}} icon left"></i>
        <a ng-href="#/notes">NOTES ‹ </a>Note {{note.id}}: {{note.title}}
    </h1>

    <p>Created by: {{note.user.name || note.user.username}}</p>
    <a ng-href="#/notes/{{note.id}}/edit" ng-if="currentUser.id === note.UserId" class="btn btn-danger">Edit Note</a>
    <a ng-href="#/notes/{{note.id}}/delete" ng-if="currentUser.id === note.UserId" class="btn btn-danger">Delete</a>

    <h3>Description:</h3>
    <p>{{note.description}}</p>
</div>