<div class="card">
    <h1>
        <i class="{{noteShowController.note.icon}} icon left"></i>
        <a ng-href="#/notes">NOTES ‹ </a>Note {{noteShowController.note.id}}: {{noteShowController.note.title}}
    </h1>

    <p>Created by: {{noteShowController.note.user.name || noteShowController.note.user.username}}</p>
    <a ng-href="#/notes/{{noteShowController.note.id}}/edit" ng-if="currentUser.id && currentUser.id === noteShowController.note.UserId" class="btn btn-danger">Edit Note</a>
    <a ng-href="#/notes/{{noteShowController.note.id}}/delete" ng-if="currentUser.id && currentUser.id === noteShowController.note.UserId" class="btn btn-danger">Delete</a>

    <h3>Description:</h3>
    <p>{{noteShowController.note.description}}</p>
</div>